# ROS 2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# VS Code settings (optional)
.vscode/

# Dev container metadata
.devcontainer/

# Colcon install files (optional)
*.egg-info/

# CMake build cache
CMakeFiles/
CMakeCache.txt

# Misc
*.log
